button, .btn {
  appearance: none;
  padding: 1rem 2rem;
  background: none;
  border: none;
  color: $color-secondary;
  background: $color-primary;
  border: 1px solid $color-primary;
  transition: all 0.3s;
  &:hover {
    background: transparent;
    color: $color-primary;
  }
}
