.counter {
  transition: all 0.3s ease-out;
  span {
    font-weight: bold;
  }
}
.svg-holder {
  position: relative;
}
svg {
  text {
    font-size: 1rem;
    font-family: $font-regular;
    fill: $color-white;
  }
  .axis {
    .xAxis {
      text {
        font-size: 0.875rem;
        font-weight: 700;
      }
    }
    .yAxis {
      text {
        font-size: 1rem;
      }
    }

  }
}
.filter-btn {
  align-self: flex-end;
  border-radius: 5px;
  // background-image: url('/images/farmer.svg');
  background-color: var(--color-grey);
  border: 0;
  color: var(--color-dark);
  white-space: nowrap;
  overflow: hidden;
  margin-top: 1.5rem;
  padding: 0.75rem;
  z-index: 4;
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  padding-right: 5rem;
  transition: all 0.3s ease-out;
  &::after, &::before, div {
    width: 3rem;
    height: 3px;
    display: block;
    position: absolute;
    background-color: var(--color-dark);
    content: "";
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s;
  }
  div {
    z-index: 1;
    background-color: var(--color-dark);
    border-radius: 50%;
    height: 7px;
    width: 7px;
    transform: translate(-17px, calc(-50% - 5px));
    &:last-of-type {
      transform: translate(-25px, calc(-50% + 5px));
    }
  }
  &::after {
    transform: translate(0, calc(-50% - 5px));
  }
  &::before {
    transform: translate(0, calc(-50% + 5px));
  }
  &:hover {
    background-color: darken(lightgrey, 20%);
    color: var(--color-dark);
  }
}
.light-bg {
  svg {
    text {
      fill: $color-font-dark;
    }
    path {
      stroke: $color-font-dark;
    }
  }
}
.split {
  +.splitbtn {
    &::before, &::after {
      // opacity: 0;
      transform: translate(-50%, calc(-50% - 10px)) rotate(180deg);
    }
  }
}
.splitbtn {
  margin-left: auto;
  display: block;
  border: 0;
  border-radius: 10px;
  position: relative;
  color: $color-dark;
  overflow: hidden;
  width: 100px;
  height: 60px;
  padding: 0 0 .75rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  justify-content: flex-end;
  font-size: 0.75rem;
  &::before, &::after {
    opacity: 1;
    display: block;
    content: "";
    width: 40px;
    height: 8px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.3s;
    transform: translate(-50%, calc(-50% - 15px)) rotate(180deg);
    background-image: url('/images/arrow.svg');
  }
  &::after {
    transform: translate(-50%, calc(-50% - 5px));
  }
  &:focus {
    outline: none;
    background-color: darken($color-grey, 20%);
  }
  &:hover {
    color: $color-dark;
    background-color: darken($color-grey, 20%);
  }
}
.tooltip {
  display: table;
  background: rgba(0,0,0,0.8);
  padding: 0.5rem;
  border-radius: 25px;
  position: absolute;
  pointer-events: none;
  h4 {
    font-family: $font-regular;
    font-size: 0.875rem;
    color: $color-font-light;
    margin: 0;
    font-weight: normal;
  }
}
.split-holder {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  .content {
    min-width: 50%;
    transition: all 0.5s;
    opacity: 1;
    white-space: normal;
    overflow: hidden;
    padding-right: 5rem;
  }
  .chart {
    min-width: 50%;
    width: 50%;
    display: inline-flex;
    transition: all 0.5s;
    flex-direction: column;
    align-items: center;
    .bar {
      width: 100%;
    }
    &.center {
      .bar {
        display: flex;
        justify-content: center;
      }
    }
    &:last-of-type {
      opacity: 0;
    }
  }
  &.full-width {
    .chart {
      min-width: 100%;
    }
  }
  &.split {
    .chart {
      min-width: 50%;
      max-width: 50%;
      opacity: 1;
      transform: translateX(-100%);
    }
    .content {
      opacity: 0;
      transform: translateX(-100%);
    }
    &.full-width {
      .chart {
        transform: translateX(0);
      }
    }
  }
}

.graph-edit-form-holder {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba($color-dark-blue,0.7);
  transition: all 0.3s;
  opacity: 0;
  z-index: -2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .graph-edit-button {
    background-color: transparent;
    border-color: transparent;
    color: $color-white-broken;
  }
  .split-form-holder {
    width: 30rem;
    height: 40rem;
    padding: 2rem;
    overflow-y: scroll;
    background-color: $color-dark-blue;
    transition: all 0.3s;
  }
  &.open {
    z-index: 5;
    opacity: 1;
  }
}
