.tooltip {
  display: table;
  background: rgba(0,0,0,0.8);
  padding: 0.5rem;
  border-radius: 25px;
  position: fixed;
  h4 {
    font-family: $font-regular;
    font-size: 0.75rem;
    color: $color-font-light;
    margin: 0;
    font-weight: normal;
  }
}
.split-holder {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
}
.content {
  min-width: 50%;
  transition: all 0.5s;
  opacity: 1;
  white-space: normal;
  overflow: hidden;
  padding: 2rem;
}
.chart {
  padding: 2rem;
  position: relative;
  min-width: 50%;
  display: inline-flex;
  justify-content: center;
  transition: all 0.5s;
  &:last-of-type {
    opacity: 0;
  }
}
.split {
  .chart {
    min-width: 50%;
    opacity: 1;
    transform: translateX(-100%);
  }
  .content {
    opacity: 0;
    transform: translateX(-100%);
  }
}
