section {
  min-height: 100vh;
  padding: 6rem 0;
  background-color: $color-section-light;
  color: $color-font-dark;
  &:nth-of-type(even){
    background-color: $color-section-dark;
    color: $color-font-light;
  }
}
